/* src/components/SplashScreen.css */
.splash-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #04073a; /* Change this color as needed */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .splash-screen img {
    max-width: 1000px;
    max-height: 1000px;
    object-fit: contain;
    border-radius: 50%;
  }